@import '../../sassStyles/_mixins.scss';
@import '../../sassStyles/_variables.scss';

.signup-conta {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;

    h1 {
      font-size: 30px;
    }

    form {
      @include formStyle();

      button {
        @include buttonStyle($white, $white);
    }
    }
    
      button {
        @include buttonStyle($lightBlue, $white, $lightBlue);
    }
}

