@import '../../sassStyles/abstracts/mixins';
@import '../../sassStyles/abstracts/variables';

.topbar-conta{
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: $lightBlue;
  color: $white;
  display: flex;
  align-items: center;
  padding: 1rem;

  .topbar-logo  {
    flex: 3;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;

    img {
        width: 80px;
    }
  }

  .searchbar-conta {
    flex: 3;

    .searchbar {
        width: 100%;
        height: 35px;
        background-color: $darkBlue;
        border-radius: 30px;
        display: flex;
        align-items: center;
    
        .search-icon {
            font-size: 20px;
            margin-left: 10px;
          }
    
        .search-input {
            width: 70%;
            margin-left: 5px;
            background-color: transparent;
        }

        .search-input::placeholder {
            color: $white;
            opacity: 1;
        }       
    }
  }
 
  .topbar-auth {
    flex: 3;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;

    button {
        @include buttonStyle($white, $darkBlue, $white);
        width: 85px;
    }
  }
}