@import '../../sassStyles/_variables.scss';

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $lightBlue;
    color: $white;
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
  }