@mixin formStyle {
    width: 350px;
    display: flex;
    flex-direction: column;

    input {
      width: 100%;
      margin-bottom: 5px;
      border-radius: 5px;
      padding: 5px;
      font-size: 1rem;
      }
}

@mixin buttonStyle($color, $bgColor, $borderColor) {
    width: 350px;
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
    color: $color;
    background-color: $bgColor;
    border: 1px solid $borderColor;
}