* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3a5fe5;
  background-color: #1e193c;
}

#root {
  height: 100%;
}

.topbar-conta {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #3a5fe5;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  padding: 1rem;
}
.topbar-conta .topbar-logo {
  flex: 3;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}
.topbar-conta .topbar-logo img {
  width: 80px;
}
.topbar-conta .searchbar-conta {
  flex: 3;
}
.topbar-conta .searchbar-conta .searchbar {
  width: 100%;
  height: 35px;
  background-color: #1e193c;
  border-radius: 30px;
  display: flex;
  align-items: center;
}
.topbar-conta .searchbar-conta .searchbar .search-icon {
  font-size: 20px;
  margin-left: 10px;
}
.topbar-conta .searchbar-conta .searchbar .search-input {
  width: 70%;
  margin-left: 5px;
  background-color: transparent;
}
.topbar-conta .searchbar-conta .searchbar .search-input::-moz-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
.topbar-conta .searchbar-conta .searchbar .search-input:-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
.topbar-conta .searchbar-conta .searchbar .search-input::placeholder {
  color: #FFFFFF;
  opacity: 1;
}
.topbar-conta .topbar-auth {
  flex: 3;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}
.topbar-conta .topbar-auth button {
  width: 350px;
  border-radius: 5px;
  padding: 8px;
  font-size: 1rem;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #1e193c;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  width: 85px;
}

.feed-conta {
  margin-top: 50px;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.postform-conta {
  grid-column-start: 2;
  grid-column-end: 2;
  border-radius: 10px;
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.main-auth-conta {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.main-auth-conta .logo-conta {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-auth-conta .logo-conta img {
  width: 400px;
  height: auto;
}
.main-auth-conta .auth-form-conta {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-auth-conta .auth-form-conta h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.main-auth-conta .auth-form-conta form {
  width: 350px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.main-auth-conta .auth-form-conta form input {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 8px;
  font-size: 1rem;
}
.main-auth-conta .auth-form-conta form button {
  width: 350px;
  border-radius: 5px;
  padding: 8px;
  font-size: 1rem;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #3a5fe5;
  border: 1px solid #3a5fe5;
  cursor: pointer;
}
.main-auth-conta .auth-form-conta .signin-conta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.main-auth-conta .auth-form-conta .signin-conta p {
  font-size: 1.2rem;
}
.main-auth-conta .auth-form-conta .signin-conta button {
  width: 350px;
  border-radius: 5px;
  padding: 8px;
  font-size: 1rem;
  font-weight: bold;
  color: #3a5fe5;
  background-color: #1e193c;
  border: 1px solid #3a5fe5;
  cursor: pointer;
}

@media (min-width: 800px) {
  .main-auth-conta {
    flex-direction: row;
  }
}/*# sourceMappingURL=main.css.map */