* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3a5fe5;
  background-color: #1e193c;
}

#root {
  height: 100%;
}

.topbar-conta {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #3a5fe5;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.topbar-conta .topbar-left {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.topbar-conta .topbar-left .topbar-logo {
  color: #ff1515;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
}
.topbar-conta .topbar-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.topbar-conta .topbar-right button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topbar-conta .topbar-right button .topbar-icons {
  fill: #1e193c;
  transform: scale(1.2);
}

.feed-conta {
  width: 100%;
  margin-top: 50px;
  padding: 1rem;
}

.postform-conta {
  border-radius: 10px;
  background-color: #FFFFFF;
  padding: 10px;
}
.postform-conta .postform-top {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.postform-conta .postform-top .postform-input {
  width: 100%;
  background: none;
  margin-left: 10px;
}
.postform-conta .postform-top .postform-input:focus {
  outline: none;
}
.postform-conta .postHr {
  margin: 5px;
  border-top: 1px solid #1e0707;
}
.postform-conta .postform-bottom {
  display: flex;
  justify-content: space-between;
  padding: 2.5px 0;
}
.postform-conta .postform-bottom .postform-icons-conta {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.postform-conta .postform-bottom .postform-icons-conta .postform-icons {
  fill: #3a5fe5;
  transform: scale(1.15);
}
.postform-conta .postform-bottom button {
  width: 350px;
  border-radius: 5px;
  padding: 8px;
  font-size: 1rem;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #3a5fe5;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  width: 60px;
  font-size: 14px;
  padding: 6px;
}

.main-auth-conta {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.main-auth-conta .logo-conta {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-auth-conta .logo-conta img {
  width: 400px;
  height: auto;
}
.main-auth-conta .auth-form-conta {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-auth-conta .auth-form-conta h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.main-auth-conta .auth-form-conta form {
  width: 350px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.main-auth-conta .auth-form-conta form input {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 8px;
  font-size: 1rem;
}
.main-auth-conta .auth-form-conta form button {
  width: 350px;
  border-radius: 5px;
  padding: 8px;
  font-size: 1rem;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #3a5fe5;
  border: 1px solid #3a5fe5;
  cursor: pointer;
}
.main-auth-conta .auth-form-conta .signin-conta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.main-auth-conta .auth-form-conta .signin-conta p {
  font-size: 1.2rem;
}
.main-auth-conta .auth-form-conta .signin-conta button {
  width: 350px;
  border-radius: 5px;
  padding: 8px;
  font-size: 1rem;
  font-weight: bold;
  color: #3a5fe5;
  background-color: #1e193c;
  border: 1px solid #3a5fe5;
  cursor: pointer;
}

@media (min-width: 800px) {
  .main-auth-conta {
    flex-direction: row;
  }
}/*# sourceMappingURL=main.css.map */