@import '../abstracts/mixins';
@import '../abstracts/variables';

.main-auth-conta {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .logo-conta {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 400px;
            height: auto;
         }
    }

    .auth-form-conta {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }

        form {
            @include formStyle();
            margin-bottom: 1.5rem;
        
            button {
                @include buttonStyle($white, $lightBlue, $lightBlue);
            }
        }
        
        .signin-conta {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;

            p {
                font-size: 1.2rem;
            }

            button {
                @include buttonStyle($lightBlue, $darkBlue, $lightBlue);
            }
        }
    }
}

@media (min-width: 800px) {
    .main-auth-conta {
        flex-direction: row;
    }
}


