// Colors
$white: #FFFFFF;
$red: #ff1515;
$green: #073e1e;
$black: #1e0707;
$lightBlue: #3a5fe5;
$darkBlue: #1e193c;

// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;